
<title> - DeathGhost</title>

<script>
$(function(){		
	$('.title-list li').click(function(){
		var liindex = $('.title-list li').index(this);
		$(this).addClass('on').siblings().removeClass('on');
		$('.menutab-wrap div.menutab').eq(liindex).fadeIn(150).siblings('div.menutab').hide();
		var liWidth = $('.title-list li').width();
		$('.shopcontent .title-list p').stop(false,true).animate({'left' : liindex * liWidth + 'px'},300);
	});
	
	$('.menutab-wrap .menutab li').hover(function(){
		$(this).css("border-color","#ff6600");
		$(this).find('p > a').css('color','#ff6600');
	},function(){
		$(this).css("border-color","#fafafa");
		$(this).find('p > a').css('color','#666666');
	});
	});
</script>

<section class="slp">
 <section class="food-hd">
  <div class="foodpic">
   <img src="{$dish['dish']['m_pic']}" id="showimg">
    <ul class="smallpic">
     <li><img src="{$dish['dish']['m_pic']}" onmouseover="show(this)" onmouseout="hide()"></li>
    </ul>
  </div>
  <div class="foodtext">
   <div class="foodname_a">
    <h1>{$dish['dish']['m_name']}</h1>
    <p>{$dish['dish']['s_address']}</p>
   </div>
   <div class="price_a">
    
    {if($dish['dish']['m_oldprice']!='')}
    <p class="price01">促销：￥<span>{$dish['dish']['m_newprice']}</span></p>
    <p class="price02">价格：￥<s>{$dish['dish']['m_oldprice']}</s></p>
    {else}
    <p class="price01">价格：￥<span>{$dish['dish']['m_newprice']}</span></p>
    <p class="price02">新品上市</p>
    {/if}
   </div>
   <div class="Freight">
    <span>配送费用：</span>
    <span>配送10元(仅限北京市)</span>
    <span>满100免配送费</span>
   </div>
   <ul class="Tran_infor">
     <li>
      <p class="Numerical">{$dish['dish']['m_mothcounts']}</p>
      <p>月销量</p>
     </li>
     <li class="line">
      <p class="Numerical">{$dish['count']}</p>
      <p>累计评价</p>
     </li>
     <li>
      <p class="Numerical">{$dish['dish']['m_score']}</p>
      <p>送幸福积分</p>
     </li>
   </ul>
   <!-- <form action="{//:url('cart/cart')}?m_id={//$dish['dish']['m_id']}" method="get" id="carid"> -->
   <div class="BuyNo">
    <span>我要买：<input type="number" name="Number" required autofocus min="0" 
    {if ($dish['dish']['m_counts'] == 0)}
      value="0"
    {else}
      value="1"
    {/if}/>份</span>
    <input type="hidden" name="m_id" required autofocus min="0" value="{$dish['dish']['m_id']}">
   
    <span id="ts">库存：{$dish['dish']['m_counts']}</span><span style="color:red;"></span>

    <div class="Buybutton">
    {neq name="dish['dish']['m_counts']" value="0"}
     <input name="" type="submit" value="加入购物车" class="BuyB">
    {else}
    <b>啊哦，暂无库存~</b> &nbsp;&nbsp;&nbsp;&nbsp;
    {/neq}
     <a href="meal/shop"><span class="Backhome">进入店铺首页</span></a>
    </div>
   </div>
  </div>
  <div class="viewhistory">
   <span class="VHtitle">看了又看</span>
   <ul class="Fsulist">
    <li>
     <a href="detailsp.html" target="_blank" title="酱爆茄子"><img src="upload/03.jpg"></a>
     <p>酱爆茄子</p>
     <p>￥12.80</p>
    </li>
    <li>
     <a href="detailsp.html" target="_blank" title="酱爆茄子"><img src="upload/02.jpg"></a>
     <p>酱爆茄子</p>
     <p>￥12.80</p>
    </li>
   </ul>
  </div>
 </section>
 <!--bottom content-->
 <section class="Bcontent">
  <article>
   <div class="shopcontent">
  <div class="title2 cf">
    <ul class="title-list fr cf ">
      <li class="on">详细说明</li>
      <li>评价详情({$dish['count']})</li>
      <li>成交记录（5）</li>
      <p><b></b></p>
    </ul>
  </div>
  <div class="menutab-wrap">
    <!--case1-->
    <div class="menutab show">
      <div class="cont_padding">
       <img src="{$dish['dish']['m_pic']}">
       <p>{$dish['dish']['m_info']}</p>
      </div>
    </div>
    <!--case2-->
    <div class="menutab">
     <div class="cont_padding">
      <table class="Dcomment">
       <th width="80%">评价内容</th>
       <th width="20%" style="text-align:right">评价人</th>
      {foreach $dish['app'] as $key=>$value}
       <tr>
       <td>
        {$value['p_info']}
        <time><?php echo date('Y-m-d H:i:s',$value['p_addtime'])?></time>
       </td>
       <td align="right">{$value['username']}</td>
       </tr>
      {/foreach}
      </table>
      <div class="TurnPage">
         <a href="#">
          <span class="Prev"><i></i>首页</span>
         </a>
         <a href="#"><span class="PNumber">1</span></a>
         <a href="#"><span class="PNumber">2</span></a>
         <a href="#">
         <span class="Next">最后一页<i></i></span>
        </a>
       </div>
     </div>
    </div>
    <!--case4-->
    <div class="menutab">
     <div class="cont_padding">
     
      <table width="888">
       <th width="35%">买家</th>
       <th width="20%">价格</th>
       <th width="15%">数量</th>
       <th width="30%">成交时间</th>
       <tr height="40">
        <td>d***t</td>
        <td>￥59</td>
        <td>1</td>
        <td>2014-9-18 11:13:07</td>
       </tr>
      </table>
     
     </div>
       <div class="TurnPage">
         <a href="#">
          <span class="Prev"><i></i>首页</span>
         </a>
         <a href="#"><span class="PNumber">1</span></a>
         <a href="#"><span class="PNumber">2</span></a>
         <a href="#">
         <span class="Next">最后一页<i></i></span>
        </a>
       </div>
   </div>
  </article>
  <!--ad&other infor-->
  <aside>
   <!--广告位或推荐位-->
   <a href="#" title="广告位占位图片" target="_blank"><img src="upload/2014912.jpg"></a>
  </aside>
 </section>
</section>
<script type="text/javascript">
  var number = $('input[name=Number]');
  var m_id = $('input[name=m_id]');
  number.blur(function(){
    if ( number.val() > {$dish['dish']['m_counts']}) {
      $('#ts').next().text('  *请不要超出库存量');
    } 
  });
  number.focus(function(){
    $('#ts').next().text('');
  });
  $('.BuyB').click(function(){
    if (number.val() > {$dish['dish']['m_counts']}) {
      $('#ts').next().text('  *请不要超出库存量');
    } else {
      $.post("{:url('cart/addcar')}", {m_id:m_id.val(), mcounts:number.val()}, function(data){
          if (data) {
            alert('加入成功');
          } else {
            alert('加入失败');
          }
        
      }, 'json');
    }
  });
</script>
