{__NOLAYOUT__}
<title>栏目设置</title>
<link rel="stylesheet" type="text/css" href="__ADMIN_PATH__/h-ui/css/H-ui.min.css" />
<!-- <link rel="stylesheet" type="text/css" href="__ADMIN_PATH__/h-ui.admin/css/H-ui.admin.css" /> -->
<link rel="stylesheet" type="text/css" href="__LIB_PATH__/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__ADMIN_PATH__/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__ADMIN_PATH__/h-ui.admin/css/style.css" />

<section class="Hui-article-box">
	
	<div class="pd-20">
		<form action="{:url('system/updweb')}" method="post" class="form form-horizontal" id="form-category-add">
			<div id="tab-category" class="HuiTab">
			<div class="tabBar cl"><span>站点设置</span></div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>站点名称：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" id="website-Keywords" value="__WEB_NAME__"  class="input-text" name="WEB_NAME">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>网站名称：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" id="website-title" value="__WEB_BTM__"  class="input-text" name="WEB_BTM">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>站点地址（URL）</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" id="website-Keywords" value="__WEB_URL__"  class="input-text" name="WEB_URL">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">备案号：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" id="website-icp" value="__WEB_ICP__" class="input-text" name="WEB_ICP">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">关闭/开启站点：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="radio" name="WEB_ISCLOSE" id="website-icp" value="false" 
					{eq name="check" value="0"}
					checked
					{/eq}
					>开启
					<input type="radio" name="WEB_ISCLOSE" id="website-icp" value="true" 
					{eq name="check" value="1"}
					checked
					{/eq}
					>关闭
				</div>
			</div>
			<div class="row cl">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
					<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
				</div>
				
			</div>
		</div>
		</form>
	</div>
</section>
<!--_footer 作为公共模版分离出去--> 
<script type="text/javascript" src="__LIB_PATH__/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__LIB_PATH__/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__ADMIN_PATH__/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="__ADMIN_PATH__/h-ui.admin/js/H-ui.admin.page.js"></script> 
<!--/_footer /作为公共模版分离出去--> 

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="__LIB_PATH__/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__LIB_PATH__/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__LIB_PATH__/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});

	$.Huitab("#tab-category .tabBar span","#tab-category .tabCon","current","click","0");
});
</script> 
