
{__NOLAYOUT__}

<link rel="stylesheet" type="text/css" href="__ADMIN_PATH__/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__ADMIN_PATH__/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__LIB_PATH__/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__ADMIN_PATH__/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__ADMIN_PATH__/h-ui.admin/css/style.css" />
<article class="page-container">
	<form class="form form-horizontal" id="form-article-add">
	{neq name="result" value=""}
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">店铺名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$result.s_name}" placeholder="" id="" name="" readonly>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">店铺图片</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div class="uploader-thum-container">
					<div id="fileList" class="uploader-list"><img src="{$result.s_pic}" alt=""></div>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">所在区：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$result.s_qu}" placeholder="" id="" name="" readonly>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">电话：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$result.s_phone}" placeholder="" id="" name="" readonly>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">营业时间：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$result.s_time}" placeholder="" id="" name="" readonly>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">是否有WIFI</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$result.s_wifi}" placeholder="" id="" name="" readonly>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">店铺简介：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="" cols="" rows="" class="textarea"  placeholder="" datatype="" dragonfly="true" nullmsg="" readonly>{$result.s_info} </textarea>
				<p class="textarea-numberbar"></p>
			</div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">身份证：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$result.s_ident}" placeholder="" id="" name="" readonly>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">申请时间：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$result.s_addtime}" placeholder="" id="" name="" readonly>
			</div>
		</div>
		{neq name="result.s_status" value="1"}
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				 <a href="shenhe?s_id={$result.s_id}&status=1"><img src="__IMG_PATH__/shenhe.jpg" alt=""></a>
				 <a href="shenhe?s_id={$result.s_id}&status=2"><img src="__IMG_PATH__/jujue.jpg" alt=""></a>
			</div>
			
		</div>
		{/neq}
	{/neq}
	</form>
</article>

<script type="text/javascript" src="__LIB_PATH__/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__LIB_PATH__/layer/2.4/layer.js"></script> 
<script type="text/javascript" src="__ADMIN_PATH__/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="__ADMIN_PATH__/h-ui.admin/js/H-ui.admin.page.js"></script> 

<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__LIB_PATH__/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__LIB_PATH__/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__LIB_PATH__/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">


</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>