
{__NOLAYOUT__}

<link rel="stylesheet" type="text/css" href="__ADMIN_PATH__/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__ADMIN_PATH__/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__LIB_PATH__/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__ADMIN_PATH__/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__ADMIN_PATH__/h-ui.admin/css/style.css" />
<article class="page-container">
	<form class="form form-horizontal" id="form-article-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">店铺名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$result.s_name}" placeholder="" id="" name="" readonly>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">图片</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div class="uploader-thum-container">
					<div id="fileList" class="uploader-list"><img src="{$result.ad_url}" alt=""></div>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">图片名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$result.ad_name}" placeholder="" id="" name="" readonly>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">申请时间：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$result.ad_addtime}" placeholder="" id="" name="" readonly>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">价格</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$result.ad_price}" placeholder="" id="" name="" readonly>
			</div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				{if($result.status==0)}
				 	<a href="{:url('admin/picture/apply')}?id={$result.ad_id}&ptime={$result.ad_price}"><img src="__IMG_PATH__/shenhe.jpg" alt=""></a>
				{elseif(($result.status==1))}
					审核已通过  | <a href="{:url('admin/picture/picture_over')}?cid={$result.ad_id}">结束轮播</a>
				{else}
					轮播结束
				{/if}
				 | <a href="{:url('admin/picture/picture_list')}">返回</a>
			</div>
		</div>
	</form>
</article>

<script type="text/javascript" src="__LIB_PATH__/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__LIB_PATH__/layer/2.4/layer.js"></script> 
<script type="text/javascript" src="__ADMIN_PATH__/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="__ADMIN_PATH__/h-ui.admin/js/H-ui.admin.page.js"></script> 

<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__LIB_PATH__/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__LIB_PATH__/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__LIB_PATH__/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">


</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>