
<title>产品分类</title>

<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->

<!-- <section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 产品管理 <span class="c-gray en">&gt;</span> 产品分类 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<table class="table">
				<tr>
					<td width="200" class="va-t"><ul id="treeDemo" class="ztree"></ul></td>
					<td class="va-t"><iframe ID="testIframe" Name="testIframe" FRAMEBORDER=0 SCROLLING=AUTO width=100%  height=390px SRC="{:url('product_category_add')}"></iframe></td>
				</tr>
			</table>
		</article>
	</div>
</section> -->
<div class="pd-20" style="margin-left:400px;">
  <form action="" method="post" class="form form-horizontal" id="form-user-add">
  <div class="row cl" >
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>上级栏目：</label>
            <div class="formControls col-5"> 
              <span class="select-box">
                  <select class="select" id="sel_Sub" name="sel_Sub" onchange="SetSubID(this);">
					  
                      <option value="0">菜品顶级分类</option>
					 {neq name="result" value=""}
					 {volist name="result" id="v" key="k"}
                      <option value="10">
                      	{$xing['b_id']}
                      		{$v.b_name}
                      </option>
                     <!--  <option value="10">★中餐</option>
                     <option value="101">&nbsp;&nbsp;&nbsp;★★ 川菜</option>
                     <option value="102">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;★★★ 炒菜</option>
                     <option value="102">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;★★★ 面食</option>
                     <option value="102">&nbsp;&nbsp;&nbsp;★★ 湘菜</option>
                     <option value="102">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;★★★ 炒菜</option>
                     <option value="102">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;★★★ 汤食</option>
                     <option value="20">★西餐</option>
                     <option value="200">&nbsp;&nbsp;&nbsp;★★ 法式</option>
                     <option value="200">&nbsp;&nbsp;&nbsp;★★ 美式</option>
                     <option value="200">&nbsp;&nbsp;&nbsp;★★ 英式</option> 
                     <option value="20">★日餐</option>
                     <option value="200">&nbsp;&nbsp;&nbsp;★★ 饭团</option>
                     <option value="200">&nbsp;&nbsp;&nbsp;★★ 料理</option> -->
                     {/volist}
					  {/neq}

                  </select>
                </span>
               </div>
            <div class="col-3"> </div>
    </div>
    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类名称：</label>
      <div class="formControls col-5">
        <input type="text" class="input-text" value="" placeholder="" id="user-name" name="product-category-name">
      </div>
      <div class="col-5"> </div>
    </div>
    <div class="row cl">
      <div class="col-9 col-offset-2">
        <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
      </div>
    </div>
  </form>
</div>
<script type="text/javascript">
var setting = {
	view: {
		dblClickExpand: false,
		showLine: false,
		selectedMulti: false
	},
	data: {
		simpleData: {
			enable:true,
			idKey: "id",
			pIdKey: "pId",
			rootPId: ""
		}
	},
	callback: {
		beforeClick: function(treeId, treeNode) {
			var zTree = $.fn.zTree.getZTreeObj("tree");
			if (treeNode.isParent) {
				zTree.expandNode(treeNode);
				return false;
			} else {
				demoIframe.attr("src",treeNode.file + ".html");
				return true;
			}
		}
	}
};

var zNodes =[
	{ id:1, pId:0, name:"一级分类", open:true},
	{ id:11, pId:1, name:"二级分类"},
	{ id:111, pId:11, name:"三级分类"},
	{ id:112, pId:11, name:"三级分类"},
	{ id:113, pId:11, name:"三级分类"},
	{ id:114, pId:11, name:"三级分类"},
	{ id:115, pId:11, name:"三级分类"},
	{ id:12, pId:1, name:"二级分类 1-2"},
	{ id:121, pId:12, name:"三级分类 1-2-1"},
	{ id:122, pId:12, name:"三级分类 1-2-2"},
];

var code;

function showCode(str) {
	if (!code) code = $("#code");
	code.empty();
	code.append("<li>"+str+"</li>");
}

$(document).ready(function(){
	var t = $("#treeDemo");
	t = $.fn.zTree.init(t, setting, zNodes);
	demoIframe = $("#testIframe");
	demoIframe.bind("load", loadReady);
	var zTree = $.fn.zTree.getZTreeObj("tree");
	zTree.selectNode(zTree.getNodeByParam("id",'11'));
});
</script>
