
<title>产品分类</title>

<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->

<div class="pd-20" style="margin-left:400px;">
  <form action="{:url('admin/product/product_add')}" method="post" class="form form-horizontal" id="badd">
  <div class="row cl" >
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>上级栏目：</label>
            <div class="formControls col-5"> 
              <span class="select-box">
                  <select class="select" id="sel_Sub" name="sel" onchange="SetSubID(this);">
					  
                      <option value="0">菜品顶级分类</option>
					 {neq name="result" value=""}
					 {volist name="result" id="v" key="k"}
                      <option value="{$v.b_id}">
                      	{$xing[$k-1]['b_id']}
                      		{$v.b_name}
                      </option>
                     {/volist}
					  {/neq}

                  </select>
                </span>
               </div>
            <div class="col-3"> </div>
    </div>
    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类名称：</label>
      <div class="formControls col-5">
        <input type="text" class="input-text" placeholder="" id="bname" name="bname"><span style="color:red;"></span>
      </div>
      <div class="col-5"> </div>
    </div>
    <div class="row cl">
      <div class="col-9 col-offset-2">
        <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
      </div>
    </div>
  </form>
</div>
<script type="text/javascript">
	//类别内容不能为空
	var bname = $("#bname");
	var flag = false;
	bname.blur(function(){
			if ($(this).val() == '') {
				bname.next().text('不能为空');
				flag = false; 
			} else {
				flag = true; 
			}
	});
	$("#badd").submit(function(){
		if (bname.val() == '') {
			bname.next().text('不能为空');
			return false;
		}
		return flag;
	});
	$('#badd').focus(function(){
		bname.next().text('');
	});
var setting = {
	view: {
		dblClickExpand: false,
		showLine: false,
		selectedMulti: false
	},
	data: {
		simpleData: {
			enable:true,
			idKey: "id",
			pIdKey: "pId",
			rootPId: ""
		}
	},
	callback: {
		beforeClick: function(treeId, treeNode) {
			var zTree = $.fn.zTree.getZTreeObj("tree");
			if (treeNode.isParent) {
				zTree.expandNode(treeNode);
				return false;
			} else {
				demoIframe.attr("src",treeNode.file + ".html");
				return true;
			}
		}
	}
};

var zNodes =[
	{ id:1, pId:0, name:"一级分类", open:true},
	{ id:11, pId:1, name:"二级分类"},
	{ id:111, pId:11, name:"三级分类"},
	{ id:112, pId:11, name:"三级分类"},
	{ id:113, pId:11, name:"三级分类"},
	{ id:114, pId:11, name:"三级分类"},
	{ id:115, pId:11, name:"三级分类"},
	{ id:12, pId:1, name:"二级分类 1-2"},
	{ id:121, pId:12, name:"三级分类 1-2-1"},
	{ id:122, pId:12, name:"三级分类 1-2-2"},
];

var code;

function showCode(str) {
	if (!code) code = $("#code");
	code.empty();
	code.append("<li>"+str+"</li>");
}

$(document).ready(function(){
	var t = $("#treeDemo");
	t = $.fn.zTree.init(t, setting, zNodes);
	demoIframe = $("#testIframe");
	demoIframe.bind("load", loadReady);
	var zTree = $.fn.zTree.getZTreeObj("tree");
	zTree.selectNode(zTree.getNodeByParam("id",'11'));
});
</script>
