
<!--Start content-->
<section class="Psection MT20">
<nav class="U-nav Font14 FontW">
  <ul>
    <li><i></i><a href="{:url('user/user')}">用户中心首页</a></li>
   <li><i></i><a href="{:url('order/orderlist')}">我的订单</a></li>
   <li><i></i><a href="{:url('user/address')}">收货地址</a></li>
   <li><i></i><a href="{:url('message/message')}">我的留言</a></li>
   <li><i></i><a href="{:url('user/coupon')}">我的优惠券</a></li>
   <li><i></i><a href="{:url('user/favorites')}">我的收藏</a></li>
   <li><i></i><a href="{:url('user/account')}">账户管理</a></li>
   <li><i></i><a href="{:url('index/auth/loginout')}">安全退出</a></li>
  </ul>
 </nav>
 <article class="U-article Overflow">
  <!--user Account-->
  <section class="AccManage Overflow">
   <span class="AMTitle Block Font14 FontW Lineheight35">账户管理</span>
   <p>上次登陆：2014年09月22日 11:40:36( *如非本人登陆，请立即<a href="{:url('index/auth/lookfor')}">修改您的密码</a>！ )</p>
   <form action="{:url('index/user/alertuser')}" method="POST">
    <table>
    <tr>
    <td width="30%" align="right">*昵称：</td>
    <td><input type="text" name="user" value="{$result['username']}"></td>
    </tr>
    <tr>
    <td width="30%" align="right">*邮箱：</td>
    <td><input type="email" name="email" value="{$result['email']}"></td>
    </tr>
    <tr>
    <td width="30%" align="right" required pattern="1[34578]\d{9}">*手机：</td>
    <td><input type="tel" name="phone" value="{$result['phone']}"></td>
    </tr>
     <tr>
    <td width="30%" align="right">*性别：</td>
    <td><input type="radio" name="sex" value="1" <?php echo $result['sex']==1?'checked':'';?>>男
        <input type="radio" name="sex" value="0" <?php echo $result['sex']==0?'checked':'';?>>女
    </td>
    </tr>
    <tr>
    <td></td>
    <td><input name="" type="submit" value="保 存"></td>
    </tr>
    </table>
   </form>
  </section>
 </article>
</section>
<!--End content-->
