<!--Start content-->
<section class="Psection MT20">
<nav class="U-nav Font14 FontW">
  <ul>
<li><i></i><a href="{:url('user/user')}">用户中心首页</a></li>
   <li><i></i><a href="{:url('order/orderlist')}">我的订单</a></li>
   <li><i></i><a href="{:url('user/address')}">收货地址</a></li>
   <li><i></i><a href="{:url('message/message')}">我的留言</a></li>
   <li><i></i><a href="{:url('user/coupon')}">我的优惠券</a></li>
   <li><i></i><a href="{:url('user/favorites')}">我的收藏</a></li>
   <li><i></i><a href="{:url('user/account')}">账户管理</a></li>
   <li><i></i><a href="{:url('index/auth/loginout')}">安全退出</a></li>
  </ul>
 </nav>
 <article class="U-article Overflow">
  <!--user Coupon-->
  <section class="M-coupon Overflow">
   <span class="coupontitle Block Font14 FontW Lineheight35">我的优惠券</span>
   <ul>
    <a href="{:url('shop/shop')}" class="Fontfff" target="_blank">
    <li>
     <p class="U-price FontW"><i>￥</i>20<span class="Font14 FontW">全店通用</span></p>
     <p>发行店铺：好味来快餐店</p>
     <p>使用条件：满299元即可使用</p>
     <p>有效期：2014-09-21至2014-09-30</p>
    </li>
    </a>
   </ul>
  </section>
 </article>
</section>
<!--End content-->
