
<!--Start content-->
<section class="Psection MT20">
<nav class="U-nav Font14 FontW">
  <ul>
<li><i></i><a href="{:url('user/user')}">用户中心首页</a></li>
   <li><i></i><a href="{:url('order/orderlist')}">我的订单</a></li>
   <li><i></i><a href="{:url('user/address')}">收货地址</a></li>
   <li><i></i><a href="{:url('message/message')}">我的留言</a></li>
   <li><i></i><a href="{:url('user/coupon')}">我的优惠券</a></li>
   <li><i></i><a href="{:url('user/favorites')}">我的收藏</a></li>
   <li><i></i><a href="{:url('user/account')}">账户管理</a></li>
   <li><i></i><a href="{:url('index/auth/loginout')}">安全退出</a></li>
  </ul>
 </nav>
 <article class="U-article Overflow">
  <!--user Favorites-->
  <section class="ShopFav Overflow">
   <span class="ShopFavtitle Block Font14 FontW Lineheight35">我的收藏</span>
   <ul>
    {neq name="result" value=""}
    {volist name="result" id="v"}
    <li><a href="{:url('shop/shop')}?s_id={$v.s_id}" >
     <img src="{$v.s_pic}">
     </a>
     <p>{$v.s_name} ( 
     <a  style="color:blue;cursor:pointer" onclick="docancel(this)" value="{$v.s_id}">删除</a>
      )</p>
    </li>
    {/volist}
    {/neq}
    
   </ul>
  </section>
 </article>
</section>
<!--End content-->
<script type="text/javascript">
  function docancel(obj)
  {
    var s_id = $(obj).attr('value');
    if (confirm('确认取消收藏？')) {
      $.post("{:url('index/user/cancelcoll')}", {s_id:s_id}, function(data){
        if (data) {
          alert('取消收藏成功');
          $(obj).parent().parent().remove();
        } else {
          alert('操作失败');
        }
      }, 'json');
    } 

  }

</script>