
<script>
$(function(){		
	$('.title-list li').click(function(){
		var liindex = $('.title-list li').index(this);
		$(this).addClass('on').siblings().removeClass('on');
		$('.menutab-wrap div.menutab').eq(liindex).fadeIn(150).siblings('div.menutab').hide();
		var liWidth = $('.title-list li').width();
		$('.shopcontent .title-list p').stop(false,true).animate({'left' : liindex * liWidth + 'px'},300);
	});
	
	$('.menutab-wrap .menutab li').hover(function(){
		$(this).css("border-color","#ff6600");
		$(this).find('p > a').css('color','#ff6600');
	},function(){
		$(this).css("border-color","#fafafa");
		$(this).find('p > a').css('color','#666666');
	});
	});
	var mt = 0;
window.onload = function () {
 var Topcart = document.getElementById("Topcart");
   var mt = Topcart.offsetTop;
    window.onscroll = function () {
     var t = document.documentElement.scrollTop || document.body.scrollTop;
      if (t > mt) {
      Topcart.style.position = "fixed";
        Topcart.style.margin = "";
         Topcart.style.top = "200px";
		 Topcart.style.right = "191px";
		 Topcart.style.boxShadow ="0px 0px 20px 5px #cccccc";
		 Topcart.style.top="0";
		 Topcart.style.border="1px #636363 solid";
         }
         else { 
         Topcart.style.position = "static";
		 Topcart.style.boxShadow ="none";
		 Topcart.style.border="";
          }
          }
        }
</script>
<!--
Author: DeathGhost
Author URI: http://www.deathghost.cn
-->
<!--Start content-->
<section class="Shop-index">
 <article>
 <!-- 店铺信息 -->
  <div class="shopinfor">
   <div class="title">
    <img src="__UPLOAD_PATH__/wpjnewlogo.jpg" class="shop-ico">
    <span>{$result.s_name}</span>
    <span>
     <img src="__IMG_PATH__/star-on.png">
     <img src="__IMG_PATH__/star-on.png">
     <img src="__IMG_PATH__/star-on.png">
     <img src="__IMG_PATH__/star-on.png">
     <img src="__IMG_PATH__/star-off.png">
    </span>
    <span>4.8</span>
   </div>
   <div class="imginfor">
    <div class="shopimg">
     <img src="{$result.s_pic}" id="showimg">
      <ul class="smallpic">
       <li><img src="{$result.s_pic}" onmouseover="show(this)" onmouseout="hide()"></li>
      </ul>
    </div>
    <div class="shoptext">
     <p><span>地址：</span>{$result.s_address}</p>
     <p><span>电话：</span>{$result.s_phone}</p>
     <p><span>特色菜品：</span>
     {neq name="tese" value="false"}
       {volist name="tese" id="v"}
          {eq name="v.m_specail" value="1"}
           {$v.m_name}.
          {/eq}
       {/volist}
     ...
     {else}
     暂无特色菜...
     {/neq}
     </p>
     <p><span>优惠活动：</span>暂无信息</p>
     <p><span>营业时间：</span>{$result.s_time}</p>
     <p><span>WIFI：</span>
        {eq name="result.s_wifi" value="1"}
          免费WIFI
        {else}
          暂无WIFI
        {/eq}
     
     </p>
     <div class="Button">
      <a href="#ydwm"><span class="DCbutton">查看菜谱点菜</span></a>
     </div>
     <div class="otherinfor">
    
         <!-- <a style="cursor:pointer" class="icoa" onclick="collect()" value="{$result.s_id}" key="{$onecoll.c_id}" id="collect">
         <img src="__IMG_PATH__/collect.png">
         <span id="colle">取消收藏</span>
         （
         <span id="nums">
         {$collnums}
         </span>
         ）
         </a> -->
         
     
          <a style="cursor:pointer" class="icoa" onclick="collect()" value="{$result.s_id}" key="{$onecoll.c_id}" id="collect">
         <img src="__IMG_PATH__/collect.png">
         <span id="colle">
         {neq name="onecoll" value=""}
         已收藏
         {else}
         收藏店铺
         {/neq}
         </span>
         （
         <span id="nums">
         {$collnums}
         </span>
         ）
         </a>
     
     <div class="bshare-custom"><a title="分享" class="bshare-more bshare-more-icon more-style-addthis">分享</a></div>
	 <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=1&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
     </div>
   </div>
  </div>


  <div class="shopcontent">
  <div class="title2 cf">
    <ul class="title-list fr cf ">
      <li class="on">菜谱</li>
      <li>累计评论（5）</li>
      <li>商家详情</li>
      <li>店铺留言</li>
      <p><b></b></p>
    </ul>
  </div>
  <div class="menutab-wrap">
   <a name="ydwm">
    <!--case1-->
    <div class="menutab show">
     <ul class="products">
		
    {neq name="tese" value="false"}
     {volist name="tese" id="v"}
    <li>
		 <a href="{:url('meal/detailsp')}?id={$v.m_id}" target="_blank" title="{$v.m_name}">
         <img src="{$v.m_pic}" class="foodsimgsize">
         </a>
          <!-- <a href="#" class="item"> -->
		  <p>{$v.m_name}</p>
		 </a>
		</li>
    {/volist}
    {/neq}
    
		
       <div class="TurnPage">
     <!-- <a href="#">
      <span class="Prev"><i></i>首页</span>
     </a>
     <a href="#"><span class="PNumber">1</span></a>
     <a href="#"><span class="PNumber">2</span></a>
     <a href="#">
     <span class="Next">最后一页<i></i></span>
     </a> -->
     {$tese->render()}
    </div>
	 </ul>
    </div>
    </a>
    <!--case2-->
    <div class="menutab">
     <div class="shopcomment">
      <div class="Spname">
       <a href="#" target="_blank" title="酸辣土豆丝">酸辣土豆丝</a>
      </div>
      <div class="C-content">
       <q>还不错，速度挺快,还不错，速度挺快还不错，速度挺快还不错，速度挺快还不错，速度挺快还不错，速度挺快还不错，速度挺快。。。</q>
       <i>2014年09月17日 19:36 </i>
      </div>
      <div class="username">
      DeatGhost
      </div>
     </div>
    </div>
    <!--case4-->
    <div class="menutab">
     <div class="shopdetails">
     <div class="shopmaparea">
      <img src="__UPLOAD_PATH__/testimg.jpg"><!--此处占位图调用动态地图后将其删除即可-->
     </div>
     <div class="shopdetailsT">
      <p><span>店铺：外婆家</span></p>
      <p><span>地址：</span>陕西省西安市雁塔区丈八北路***号</p>
      <p><span>电话：</span>029-88888888</p>
      <p><span>乘车路线：</span>300路、115路、14路、800路到西辛庄站下车往东100米</p>
      <p><span>店铺介绍：</span>***于2005年3月28日开业，立于西安市碑林区***于2005年3月28日开业，立于西安市碑林区***于2005年3月28日开业，立于西安市碑林区***于2005年3月28日开业，立于西安市碑林区***</p>
     </div>
    </div>
    </div>
    <!--case5-->
    <div class="menutab">
     <span class="Ask"><i>DeathGhost</i>:这里是测试问答？</span>
     <span class="Answer"><i>管理员回复</i>：这里是测试回答！</span>

     <div class="TurnPage">
     <a href="#">
      <span class="Prev"><i></i>首页</span>
     </a>
     <a href="#"><span class="PNumber">1</span></a>
     <a href="#"><span class="PNumber">2</span></a>
     <a href="#">
     <span class="Next">最后一页<i></i></span>
     </a>
    </div>
    
     <form class="A-Message" action="#"> 
      <p><i>姓名：</i><input name="usr_name" type="text" autofocus placeholder="张三" required></p>
      <p><i>手机：</i><input name="" type="text" placeholder="15825518***" pattern="[0-9]{11}" required></p>
      <p><i>邮件：</i><input type="email" name="email" autocomplete="off" placeholder="admin@admin.com" required/></p>
      <p><i>问题补充：</i><textarea name="" cols="" rows="" required placeholder="详细说明您的问题..."></textarea></p>
      <p><input type="submit" class="Abutt" /></p>
     </form>
    </div>
  </div>
</div>
 </article>
 <aside>
  <div class="cart" id="Topcart">
	<span class="Ctitle Block FontW Font14"><a href="{:url('cart/cart')}" target="_blank">我的购物车</a></span>
	<table id="cartcontent" fitColumns="true">
	<thead>
	<tr>
	<th width="33%" align="center" field="name">商品</th>
	<th width="33%" align="center" field="quantity">数量</th>
	<th width="33%" align="center" field="price">价格</th>
	</tr>
	</thead>
	</table>
	<p class="Ptc"><span class="Cbutton"><a href="{:url('cart/cart')}" target="进入购物车">进入购物车</a></span><span class="total">共计金额: ￥0</span></p>
  </div>
  
  <div class="Nearshop">
   <span class="Nstitle">附近其他店铺</span>
   <ul>
    <li>
     <img src="__UPLOAD_PATH__/cc.jpg">
     <p>
     <span class="shopname" title="动态调用完整标题"><a href="{:url('meal/detailsp')}" target="_blank" title="肯德基">肯德基</a></span>
     <span class="Discolor">距离：1.2KM</span>
     <span title="完整地址title">地址：西安市雁塔区2000号...</span>
     </p>
    </li>
   </ul>
  </div>
  
  <div class="History">
   <span class="Htitle">浏览历史</span>
   <ul>
    <li>
    <a href="{:url('meal/detailsp')}" target="_blank" title="清真川菜馆"><img src="__UPLOAD_PATH__/cc.jpg"></a>
    <p>
     <span class="shopname" title="动态调用完整标题"><a href="{:url('meal/detailsp')}" target="_blank" title="正宗陕北小吃城">正宗陕北小吃城</a></span>
     <span>西安市莲湖区土门十西安市莲湖区土门十字西安市莲湖区土门十字.</span>
    </p>
    </li>
    <span>[ <a href="#">清空历史记录</a> ]</span>
   </ul>
  </div>
 </aside>
 
</section>
<!--End content-->
<script type="text/javascript">
    function collect()
    {
      var s_id = $('#collect').attr('value');
      // var key = $('#collect').attr('key');//key为真，说明已收藏
      // var colle = $('#colle');
      // var nums = $('#nums');
      // 判断收藏还是取消
      // if (!key) {
          $.post("{:url('index/shop/docollect')}", {s_id:s_id},function(data){
            if (data) {
              // alert(key);
              alert('收藏成功');
              // $('#collect').attr('key') = 1;
              $('#colle').text('已收藏');
              $('#nums').text(parseInt($('#nums').text())+1);
              $('#collect').attr('onclick','return false;');
            } else {  
              alert('收藏失败');
            }
          }, 'json');
          
      // } else {
      //   $.post("{:url('index/user/cancelcoll')}", {s_id:s_id},function(data){
      //       if (data) {
      //          alert(key);
      //         alert('取消收藏成功');
      //         $('#collect').attr('key') = 0;
      //         colle.text('收藏店铺');
      //         nums.text(parseInt(nums.text())-1);
      //       } else {  
      //         alert('取消收藏失败');
      //       }
      //     }, 'json');

      // }
      
    }

</script>