<link href="__STATIC_PATH__/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
<title>角色管理 - 管理员管理</title>

<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->

<section class="Hui-article-box" >
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 角色管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">

			<div class="cl pd-5 bg-1 bk-gray"> <span class="l"> <a class="btn btn-primary radius" href="javascript:;" onclick="admin_role_add()"><i class="Hui-iconfont">&#xe600;</i> 添加角色</a></span><span><a href="" class="btn btn-primary radius">返回</a></div></span>
			<div class="mt-10" style="display:block;">
			<table class="table table-border table-bordered table-hover table-bg">
				<thead>
					<tr>
						<th scope="col" colspan="6">角色管理</th>
					</tr>
					<tr class="text-c">
						<th width="25"><input type="checkbox" value="" name=""></th>
						<th width="40">ID</th>
						<th width="200">角色名</th>
						<th>添加时间</th>
						<th width="300">描述</th>
						<th width="70">操作</th>
					</tr>
				</thead>
				<tbody>
				{foreach $res as $key=>$value}
					<tr class="text-c">
						<td><input type="checkbox" value="" name=""></td>
						<td>{$value['j_id']}</td>
						<td>{$value['j_name']}</td>
						<td><a href="#"><?php echo date("Y-m-d H:i:s",$value['j_addtime'])?></a></td>
						<td>{$value['j_info']}</td>
						<td class="f-14"><a title="编辑" href="javascript:;" onclick="admin_role_edit()" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="admin_role_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
					</tr>
				{/foreach}
				</tbody>
			</table>
			</div>
			<!-- 角色添加 -->
			<div style="display:none;margin-left:400px;" id="attice_add">
					<table style="height:200px;text-align:center;width:250px;font-size:20px;">
						<tr><td>角色：</td><td><input type="text" name="role" style="width:200px;height:30px;" id="rolename"></td></tr>
						<tr><td>描述：</td><td><textarea name="info" cols="30" rows="3" style="resize:none;" id="roleinfo"></textarea></td></tr>
						<tr><td colspan="2"><button>添加</button></td></tr>
					</table>
			</div>
			<!-- 角色修改 -->
			<div style="display:none;margin-left:400px;" id="attice_alert">
					<table style="height:200px;text-align:center;width:250px;font-size:20px;">
						<tr><td>角色：</td><td><input type="text" name="role" style="width:200px;height:30px;"></td></tr>
						<tr><td>描述：</td><td><textarea name="info" cols="30" rows="3" style="resize:none;"></textarea></td></tr>
						<tr><td colspan="2"><button>修改</button></td></tr>
					</table>
			</div>
</section>



<script type="text/javascript">
/*管理员-角色-添加*/
function admin_role_add(){
	$(".mt-10").css('display','none');
	$("#attice_add").css('display','block');
	if($("#rolename").val() == ''&& $("#roleinfo").val()=='')
	{
		$.post("{:url('admin/admin/role_add')}",{role:$("#rolename").val(),info:$("#roleinfo").val()},function(data){
		},'json')
	} else {
		alert('信息填写不完整');
	}
}
/*管理员-角色-编辑*/
function admin_role_edit(){
	$(".mt-10").css('display','none');
	$("#attice_alert").css('display','block');
}

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>