<title>权限管理 - 管理员管理</title>
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 权限管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="admin_permission_add()" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加权限节点</a></span> <span class="r"><a href="" class="btn btn-primary radius">返回</a></span> </div>
			<div style="display:block;" id="tbbody">
			<table class="table table-border table-bordered table-bg" >
				<thead>
					<tr>
						<th scope="col" colspan="7">权限节点</th>
					</tr>
					<tr class="text-c">
						<th width="25"><input type="checkbox" name="" value=""></th>
						<th width="40">ID</th>
						<th width="200">权限名称</th>
						<th>字段名</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody>
				{foreach $res as $key=>$value}
					<tr class="text-c">
						<td><input type="checkbox" value="1" name=""></td>
						<td>{$value['r_id']}</td>
						<td>{$value['r_name']}</td>
						<td>{$value['r_fields']}</td>
						<td><a title="编辑" href="javascript:;" onclick="admin_permission_edit(this,{$value['r_id']})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="admin_permission_del(this,{$value['r_id']})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
					</tr>
				{/foreach}
				</tbody>
			</table>
			<!--权限增加-->
			</div>
			<div id="permission_add" style="display:none;">
				<form action="javascript:;" method="POST" onsubmit="return upsubmit()" id="addform">
				<table style="text-align:center;width:300px;margin:auto;">
					<tr><td>权限名称：</td><td><input type="text" name="r_name" id="r_addname" onblur="checkadd()" style="width:200px;height:30px;"></td></tr>
					<tr><td>权限字段：</td><td><input type="text" name="r_field" id="r_addfield" onblur="checkadd()" style="width:200px;height:30px;"></td></tr>
					<tr><td colspan="2"><input type="submit" value="提交"></td></tr>
				</table>
				</form>
			</div>
			<!--权限编辑-->
			<div id="permission_eidt" style="display:none;">
				<form action="javascript:;" method="POST"  id="editform" onsubmit="return editsubmit()">
				<table style="text-align:center;width:300px;margin:auto;">
				<input type="hidden" value="" id="help" name="help">
					<tr><td>权限名称：</td><td><input type="text" name="r_name" id="r_editname" style="width:200px;height:30px;"></td></tr>
					<tr><td>权限字段：</td><td><input type="text" name="r_field" id="r_editfield" style="width:200px;height:30px;"</td></tr>
					<tr><td colspan="2"><input type="submit" value="提交"></td></tr>
				</table>
				</form>
			</div>
		</article>
	</div>
</section>

<script type="text/javascript">
/*
	参数解释：
	title	标题
	url		请求的url
	id		需要操作的数据id
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/
/*管理员-权限-添加*/
function admin_permission_add(){
	$("#tbbody").css('display','none');
	$("#permission_add").css('display','block');
}
function checkadd()
{
	if ($("#r_addname").val()=='' && $("#r_addfield").val()=='') {
		alert('信息填写不完整');
		return false;
	} else {
		$("#addform").attr('action',"{:url('admin/admin/add_permission')}");
		return true;
	}
}
function upsubmit()
{
	if (checkadd()) {
		return true;
	}
	return false;
}
/*管理员-权限-编辑*/
function admin_permission_edit(obj,id){	

	var id = id;
	$("#tbbody").css('display','none');
	$("#permission_eidt").css('display','block');
	$.post("{:url('admin/admin/message_permission')}",{cid:id},function(data){
		if (data.errcode == 1) {
			$("#r_editname").attr('value',data.info['r_name']);
			$("#r_editfield").attr('value',data.info['r_fields']);
			$("#help").attr('value',data.info['r_id']);
			$("#editform").attr('action',"{:url('admin/admin/edit_permission')}");
		}
	},'json')
}
//权限信息修改
function editsubmit()
{
	if ($("#r_addname").attr('value')=='' && $("#r_addfield").attr('value')=='') {
	alert('信息填写不完整');
	return false;
	}
	return true;
}
//权限删除
function admin_permission_del(obj,id)
{
	$.post("{:url('admin/admin/del_permission')}",{cid:id},function(data){
		if (data.errcode==1) {
			$(obj).parent().parent().remove();
		}
	},'json')
}

</script>
