{__NOLAYOUT__}
<title>添加管理员 - 管理员管理 - H-ui.admin v3.0</title>
<link rel="stylesheet" type="text/css" href="__ADMIN_PATH__/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__ADMIN_PATH__/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__LIB_PATH__/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__ADMIN_PATH__/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__ADMIN_PATH__/h-ui.admin/css/style.css" />
<article class="cl pd-20">
	<form action="{:url('admin/admin/admin_message')}?id={$res['rb_id']}" method="post" class="form form-horizontal" id="form-admin-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" style="width:300px;" value="{$res['rb_username']}" placeholder="" id="adminName" name="adminName">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>重置密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" style="width:300px;" autocomplete="off" value="" placeholder="密码" id="password" name="password"><p>如需重置密码填写</p>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input name="sex" type="radio" id="sex-1" value="1" <?php echo $res['rb_sex']==1?'checked':'';?>>
					<label for="sex-1">男</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="sex-2" name="sex" value="0" <?php echo $res['rb_sex']==0?'checked':'';?>>
					<label for="sex-2">女</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" style="width:300px;" value="{$res['rb_phone']}" placeholder="" id="phone" name="phone">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">角色：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
				<select class="select" name="adminRole" size="1">
				{foreach $res['role'] as $key=>$value}
					<option value="{$value['j_id']}" <?php echo $res['j_id']==$value['j_id']?'selected':'';?>>{$value['j_name']}</option>
				{/foreach}
				</select>
				</span> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">备注：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="info" cols="" rows="" style="width:300px;" class="textarea" dragonfly="true" onKeyUp="textarealength(this,100)">{$res['rb_info']}</textarea>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
				<a class="btn btn-primary radius" href="{:url('admin/admin/admin_list')}">&nbsp;&nbsp;返回&nbsp;&nbsp;</a>
			</div>
		</div>
	</form>
</article>


<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__LIB_PATH__/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__LIB_PATH__/layer/2.4/layer.js"></script> 
<script type="text/javascript" src="__ADMIN_PATH__/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="__ADMIN_PATH__/h-ui.admin/js/H-ui.admin.page.js"></script> 

<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__LIB_PATH__/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__LIB_PATH__/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__LIB_PATH__/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-admin-add").validate({
		rules:{
			adminName:{
				required:true,
				minlength:4,
				maxlength:16
			},
			// password:{
			// 	required:true,
			// },
			// password2:{
			// 	required:true,
			// 	equalTo: "#password"
			// },
			sex:{
				required:true,
			},
			phone:{
				required:true,
				isPhone:true,
			},
			email:{
				required:true,
				email:true,
			},
			adminRole:{
				required:true,
			},
		},
		// onkeyup:false,
		// focusCleanup:true,
		// success:"valid",
		// submitHandler:function(form){
		// 	$(form).ajaxSubmit();
		// 	var index = parent.layer.getFrameIndex(window.name);
		// 	parent.$('.btn-refresh').click();
		// 	parent.layer.close(index);
		// }
	});
});
</script>
