
<!--Start content-->
<section class="Psection MT20" id="Cflow">
<!--如果用户未添加收货地址，则显示如下-->
 <div class="confirm_addr_f">
  <span class="flow_title">收货地址：</span>
  <!--如果未添加地址，则显示此表单-->
  <form class="add_address" action="#" style="display:none;">
   <p><i>收件人姓名：</i><input type="text" name="" required></p>
   <p>
   <i>选择所在地：</i> 
   <select name="">
    <option>陕西省</option>
   </select>
   <select name="">
    <option>西安市</option>
   </select>
   <select name="">
    <option>莲湖区</option>
   </select>
   </p>
   <p><i>街道地址：</i><input type="text" required size="50"></p>
   <p><i>邮政编码：</i><input type="text" required size="10" pattern="[0-9]{6}"></p>
   <p><i>手机号码：</i><input type="text" name="" required pattern="[0-9]{11}"></p>
   <p><i></i><input name="" type="submit" value="确定"></p>
  </form>
  <!--已保存的地址列表-->
  <form action="#">
   <ul class="address">
   {neq name="ads" value=""}
   {volist name="ads" id="v" key="k"}
    <li id="style{$v.a_id}"><input type="radio"  id="ads" name="a_ids[]"  value="{$v.a_id}" onclick="shouads(this)"/>
      <label for="1"> {$v.a_newaddress}（{$v.a_user}先生收）<span class="fontcolor" >{$v.a_phone}<!-- 183092***73 --></span>
      </label>
    </li>
    {/volist}
   {/neq}
  
   </ul>
   <p>
     <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'"><img src="__IMG_PATH__/newaddress.png"/></a>
   </p>
   </form>
   <!--add new address-->
   <form action="#" method="post">
   <div id="light" class="O-L-content">
    <ul>
     <li><span><label for="">街道地址：</label></span><p><em>*</em><textarea name="a_newaddress" cols="80" rows="5" id="a_newaddress"></textarea></p></li>
     <li><span><label for="">收件人姓名：</label></span><p><em>*</em><input name="a_user" type="text" id="a_user"></p></li>
     <li><span><label for="">手机号码：</label></span><p><em>*</em><input name="a_phone" type="text" pattern="[0-9]{11}" required id="a_phone"></p></li>
     <div class="button-a">
        <input type="button" value="确 定" class="C-button"  onclick = "addnewads()" /><span>
        <input name="" type="button" value="取 消"  class="Cancel-b" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"/>
     </div>
    <div class="close-botton"><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='block'">aa</a>
    </div>
   </div> 
   <div id="fade" class="overlay"></div>
    </ul>
    
   <!--End add new address-->
   </form>
 </div>
<!--配送方式及支付，则显示如下-->
<!--check order or add other information-->
 <div class="pay_delivery">
  <span class="flow_title">配送方式：</span>
  <table>
   <th width="30%">配送方式</th>
   <th width="30%">运费</th>
   <th width="40%">说明</th>
   <tr>
    <td>送货上门</td>
    <td>￥0.00</td>
    <td>配送说明信息...</td>
   </tr>
  </table>
  <span class="flow_title">在线支付方式：</span>
   <form action="#">
    <ul>
    <li><input type="radio" name="pay" id="alipay" value="alipay" checked/><label for="alipay"><i class="alipay"><img src="__IMG_PATH__/bank18.jpg" alt="" width="90" height="27"></i></label></li>
    </ul>
   </form>
  </div>
 

  <!-- 订单信息 -->
  <form action="{:url('index/order/okorder')}" method="post">
  <div class="inforlist">
   <span class="flow_title">商品清单</span>
   <table>
    <th>名称</th>
    <th>数量</th>
    <th>价格</th>
    <th>小计</th>

    {volist name="result" id="v" key="k"}
    <tr>
     <td>{$v.m_name}</td>
     <td>{$v.mcounts}</td>
     <td>￥{$v.m_newprice}</td>
     <td>￥{$v.m_newprice*$v.mcounts}</td>
    </tr>
    {/volist}
    
   </table>
    <div class="Order_M">
     <p><em>订单附言:</em><input name="o_message"  type="text" id="fyan"></p>
     </p>
    </div>
    <div class="Sum_infor">
    <p class="p1">配送费用：￥
    {$song}
    .00+商品费用：￥{$allprice}.00  
    <br />
    <input type="checkbox" class="" id="you" name="you" value="0" onchange="youhui(this)">
    优惠券：￥
    {$u_score}

    .00</p>
    
    <p class="p2">合计：<span>￥
    <span id="heji">
    {$allprice}
    </span> 
    .00</span></p>
    <p>
      [注:]  商品费用100元以上免邮费哦~
      <br />
            &nbsp; &nbsp; &nbsp; &nbsp;100积分可抵用1元优惠券~
    </p>
    
    <input type="hidden" name="o_uid" id="o_uid" value="">
    <input type="hidden" name="o_aid" id="o_aid">
    <input type="hidden" name="peiprice" id="peiprice" value="{$song}">
    <input type="hidden" name="o_you" id="o_you" value="{$song}">
    <input type="hidden" name="allprice" id="allprice" >
     {volist name="result" id="v" key="k"}
     <input type="hidden" name="o_sid[]" value="{$v.sid}">
     <input type="hidden" name="o_mid[]" value="{$v.car_mid}">
     <input type="hidden" name="o_counts[]" value="{$v.mcounts}">
     <input type="hidden" name="oneprice[]" value="{$v.m_newprice}">
     <input type="hidden" name="manyprice[]" value="{$v.m_newprice*$v.mcounts}">
    {/volist}
    <input type="submit" value="提交订单"  class="p3button" onclick=""/>
    </div>
   </div>
   </form>
 </div>
</section>

<script type="text/javascript">
 var you = null; 
function youhui(obj)
{
 
  if ($(obj).attr('value') == 0) {
    
    $(obj).attr('value', {$u_score});
    you = $(obj).attr('value'); 
  } else {
    
    $(obj).attr('value', 0);
    you = you = $(obj).attr('value');
  }
  
  
}
var heji = {$allprice} + {$song} - you;
  //不为负数
  if (heji <= 0) {
    heji = 0;
  }
  $('#heji').text(heji);
  $('#allprice').attr('value', heji);
  $('#o_you').attr('value', you);
  function shouads(obj)
  {
    var a_id = $(obj).attr('value');
    $('#o_aid').attr('value',a_id);
  }
  // var  a_ids = [];
  // $("input[name='a_ids[]']").each(function(){
  //   if ( $(this).prop('checked') ) {
  //     a_ids.push( $(this).val() );
  //     // alert( $(this).val() );
  //   }
  // });
</script>
<script type="text/javascript">
  function addnewads()
  {
    var a_newaddress = $('#a_newaddress').val();
    var a_user = $('#a_user').val();
    var a_phone = $('#a_phone').val();
    if (a_newaddress == '' || a_user == '' || a_phone == '') {
      alert('所填信息不能为空');
    } else {
     /* var jastadds = "<li id='style1'><input type='radio' value='' id='1' name='rdColor' onclick='changeColor(1)'/>
      <label for='1'> +a_newaddress+（+a_user+先生收）<span class='fontcolor'>+a_phone+</span>
      </label>
    </li>";*/ 
    // var jastadds = '<li id="style1"><input type="radio" value="" id="1" name="rdColor" onclick="changeColor(1)"/>
    //   <label for="1">' + a_newaddress+'（'+a_user+'先生收）<span class="fontcolor">'+a_phone+' </span>
    //   </label>
    // </li>';
    // alert(jastadds);
      $('.address').append(jastadds);
      // $('#style1').after(jastadds);
      document.getElementById('light').style.display='none';
      document.getElementById('fade').style.display='none';
    }
    // $.post();
  }
</script>