
<!--Start content-->
<section class="Psection MT20">
<nav class="U-nav Font14 FontW">
  <ul>
 <li><i></i><a href="{:url('user/user')}">用户中心首页</a></li>
   <li><i></i><a href="{:url('order/orderlist')}">我的订单</a></li>
   <li><i></i><a href="{:url('user/address')}">收货地址</a></li>
   <li><i></i><a href="{:url('message/message')}">我的留言</a></li>
   <li><i></i><a href="{:url('user/coupon')}">我的优惠券</a></li>
   <li><i></i><a href="{:url('user/favorites')}">我的收藏</a></li>
   <li><i></i><a href="{:url('user/account')}">账户管理</a></li>
   <li><i></i><a href="#">安全退出</a></li>
  </ul>
 </nav>
 <article class="U-article Overflow">
  <!--user order list-->
  <section>
    <table class="Myorder">
     <th class="Font14 FontW">订单编号</th>
     <th class="Font14 FontW">下单时间</th>
     <th class="Font14 FontW">收件人</th>
     <th class="Font14 FontW">订单总金额</th>
     <th class="Font14 FontW">订单状态</th>
     <th class="Font14 FontW">操作</th>
     <tr>
      <td class="FontW"><a href="{:url('user/user')}">201409225367</a></td>
      <td>2014-09-22 19:21:38</td>
      <td>DeathGhost</td>
      <td>￥328.00</td>
      <td>未付款,未发货</td>
      <td><a href="#">取消订单</a> | <a href="#">付款</a></td>
     </tr>
    </table>
    <div class="TurnPage">
         <a href="#">
          <span class="Prev"><i></i>首页</span>
         </a>
         <a href="#"><span class="PNumber">1</span></a>
         <a href="#"><span class="PNumber">2</span></a>
         <a href="#">
         <span class="Next">最后一页<i></i></span>
        </a>
       </div>
  </section>
 </article>
</section>
<!--End content-->
