
<!--Start content-->
<section class="Psection MT20">
<nav class="U-nav Font14 FontW">
  <ul>
   <li><i></i><a href="{:url('user/user')}">用户中心首页</a></li>
   <li><i></i><a href="{:url('order/orderlist')}">我的订单</a></li>
   <li><i></i><a href="{:url('user/address')}">收货地址</a></li>
   <li><i></i><a href="{:url('message/message')}">我的留言</a></li>
   <li><i></i><a href="{:url('user/coupon')}">我的优惠券</a></li>
   <li><i></i><a href="{:url('user/favorites')}">我的收藏</a></li>
   <li><i></i><a href="{:url('user/account')}">账户管理</a></li>
   <li><i></i><a href="{:url('index/auth/loginout')}">安全退出</a></li>
  </ul>
 </nav>
 <article class="U-article Overflow">
  <span class="Font14 FontW Lineheight35 Block">订单信息：</span>
   <table class="U-order-D">
    <th>订单产品</th>
    <th>订购数量</th>
    <th>单价</th>
    <th>小计</th>
    <th>付款方式</th>

    {neq name="result" value="false"}
     {volist name="result" id="v"}
    <tr>
     <td><a href="{:url('meal/detailsp')}.html" target="_blank" title="酸辣土豆丝">{$v.m_name}</a></td>
     <td>{$v.o_counts}</td>
     <td>￥{$v.oneprice}.00</td>
     <td>￥{$v.manyprice}.00</td>
     <td>支付宝</td>
     <!--如果未付款，则显示立即付款按钮-->
     <td style="display:none;"><a href="#" target="_blank">立即付款</a></td>
    </tr>

     {/volist}
     {/neq}
   </table>
<table class="U-order-D">
订单状态：

  {eq name="issign" value="1"}
  <b>已签收</b>
  {else}
  <b>未签收</b>
  {/eq}
  <br />
  {volist name="ostatus" id="val"}
    {$val.time}
      &nbsp;
    {$val.status}
    <br />
  {/volist}

</table>
   <!-- 修改地址 -->
  <!-- <span class="Font14 FontW Lineheight35 Block">收件地址：</span>
  <form action="#" method="post">
   <table class="U-order-A">
     {neq name="adsres" value="false"}
    <tr>
     <td width="30%" align="right" class="FontW">订餐地址：</td>
     <td><input type="text" name="" class="input_addr" value="{$adsres.a_newaddress}" required {if ($adsres.o_status == 0)}readonly{/if}></td>
    </tr>
    <tr>
     <td width="30%" align="right" class="FontW">收件人姓名：</td>
     <td><input type="text" name="" class="input_name" value="{$adsres.a_user}" required {if ($adsres.o_status == 0)}readonly{/if}></td>
    </tr>
    <tr>
     <td width="30%" align="right" class="FontW">手机号码：</td>
     <td><input type="text" name="" class="input_tel" value="{$adsres.a_phone}" required pattern="[0-9]{11}" {if ($adsres.o_status == 0)}readonly{/if}></td>
    </tr>
     {/neq}
     {if ($adsres.o_status > 0)}
    <tr><td><span style="color:red;"></span><td></tr>
    <tr>
     <td width="30%" align="right"></td>
     未付款订单，可以修改地址！
     <td><input type="submit" name="" value="确认修改地址" class="Submit">（未付款订单，可以修改地址！）</td>
    </tr>
    {/if}
   </table>
   </form> -->
 </article>
</section>
<!--End content-->
<script type="text/javascript">
  $('.Submit').submit(function(){
    alert(11);
  };
</script>
