<style>
  .uli{
    margin-left:20px;
  }
  .uli li{
    padding:3px;
    /*padding-top:3px;*/
    font-size: 13px;
  }
/*  .uli li a{
    text-decoration: underline;
  }*/
</style>
<!--Start content-->
<section class="Cfn">
 <aside class="C-left">
  <div class="S-time">服务时间：周一~周六<time>09:00</time>-<time>23:00</time></div>
  <div class="C-time">
   <img src="__UPLOAD_PATH__/dc.jpg"/>
  </div>
  <a href="{:url('index/list')}" target="_blank"><img src="__IMG_PATH__/by_button.png"></a>
  <a href="{:url('index/list')}" target="_blank"><img src="__IMG_PATH__/dc_button.png"></a> 
 </aside>
 <div class="F-middle">
 <ul class="rslides f426x240">
        <li><a href="javascript:"><img src="__UPLOAD_PATH__/01.jpg"/></a></li>
        <li><a href="javascript:"><img src="__UPLOAD_PATH__/02.jpg" /></a></li>
        <li><a href="javascript:"><img src="__UPLOAD_PATH__/03.jpg"/></a></li>
    </ul>
 </div>
 <aside class="N-right">
  <div class="N-title">公司新闻 <i>COMPANY NEWS</i></div>

  <ul class="Orderlist" id="UpRoll">
   <li>
   <p>订单编号：2014090912973</p>
   <p>收件人：王先生</p>
   <p>订单状态：<i class="State01">已发货</i></p>
   </li>
   <li>
   <p>订单编号：2014090912978</p>
   <p>收件人：张小姐</p>
   <p>订单状态：<i class="State02">已签收</i><i class="State03">已点评</i></p>
   </li>
   <li>
   <p>订单编号：2014090912988</p>
   <p>收件人：龚先生</p>
   <p>订单状态：<i class="State02">已签收</i><i class="State03">已点评</i></p>
   </li>
  </ul>
<!--   <p>
  周边新闻：
    <ul class="uli" style="margin-left:0px;">
        {//volist name="donews" id="vo" key="k"}
        <li style="width:240px;overflow:hidden;white-space:nowrap;text-overflow: ellipsis; width:20em;"><a href="{//:url('index/index/news')}?id={//$k}" target="_self" title="标题">({//$k})&nbsp;
        {//$vo.title}</a></li>
        {///volist}
      </ul>
  </p> -->
  <script>
   var UpRoll = document.getElementById('UpRoll');
   var lis = UpRoll.getElementsByTagName('li');
   var ml = 0;
   var timer1 = setInterval(function(){
    var liHeight = lis[0].offsetHeight;
    var timer2 = setInterval(function(){
     UpRoll.scrollTop = (++ml);
     if(ml ==1){
        clearInterval(timer2);
        UpRoll.scrollTop = 0;
        ml = 0;
        lis[0].parentNode.appendChild(lis[0]);
    }
    },10); 
    },5000);
  </script>
 </aside>
</section>
<section class="Sfainfor">
 <article class="Sflist">
  <div id="Indexouter">
   <ul id="Indextab"> 
   
    <li class="current">点菜</li>
   <li >餐馆</li>
    <p class="class_B">
    <a href="#">中餐</a>
    <a href="#">西餐</a>
    <a href="#">甜点</a>
    <a href="#">日韩料理</a>
    <span><a href="#" target="_blank">more ></a></span>
    </p>
   </ul>


  <div id="Indexcontent">
   <ul style="display:block;">
     <li>
     <p class="seekarea">
      <b>热门菜品推荐
     </p>
     <div class="SCcontent"> 
     {foreach $dish as $key => $value}
     <a href="{:url('meal/detailsp')}?id={$value['m_id']}" target="_blank" title="菜品名称">
      <figure>
       <img src="{$value['m_pic']}">
       <figcaption>
       <span class="title">{$value['m_name']}</span>
       <span class="price"><i>￥</i>{$value['m_newprice']}</span>
       </figcaption>
      </figure>
      </a>
      {/foreach}
     </div>
     <div class="bestshop">
      <a href="{:url('shop/shop')}" target="_blank" title="店铺名称">
      <figure>
       <img src="__UPLOAD_PATH__/wpjnewlogo.jpg">
      </figure>
      </a>
      <a href="{:url('shop/shop')}" target="_blank" title="店铺名称">
      <figure>
       <img src="__UPLOAD_PATH__/weijia.jpg">
      </figure>
      </a>
      <a href="{:url('shop/shop')}" target="_blank" title="店铺名称">
      <figure>
       <img src="__UPLOAD_PATH__/wpjnewlogo.jpg">
      </figure>
      </a>
      <a href="{:url('shop/shop')}" target="_blank" title="店铺名称">
      <figure>
       <img src="__UPLOAD_PATH__/weijia.jpg">
      </figure>
      </a>
      <a href="{:url('shop/shop')}" target="_blank" title="店铺名称">
      <figure>
       <img src="__UPLOAD_PATH__/wpjnewlogo.jpg">
      </figure>
      </a>
     </div>
    </li>

   </ul>
  <ul >
   <li>
     <p class="seekarea" style="display:block;" id="dnext">
     <a href="javascript:;" onclick="store(this)">东城区</a>
     <a href="javascript:;" onclick="store(this)">西城区</a>
     <a href="javascript:;" onclick="store(this)">崇文区</a>
     <a href="javascript:;" onclick="store(this)">宣武区</a>
     <a href="javascript:;" onclick="store(this)">朝阳区</a>
     <a href="javascript:;" onclick="store(this)">丰台区</a>
     <a href="javascript:;" onclick="store(this)">海淀区</a>
     <a href="javascript:;" onclick="store(this)">昌平区</a>
     <a href="javascript:;" onclick="store(this)"">石景山区</a>
     <a href="javascript:;" onclick="store(this)"">门头沟区</a>
     <a href="javascript:;" onclick="store(this)">房山区</a>
     <a href="javascript:;" onclick="dnext()">more ></a>
     </p>
     <p class="seekarea" style="display:none;" id="dpre">
     <a href="javascript:;" onclick="store(this)">通州区</a>
     <a href="javascript:;" onclick="store(this)">顺义区 </a>
     <a href="javascript:;" onclick="store(this)">大兴区</a>
     <a href="javascript:;" onclick="store(this)">怀柔区</a>
     <a href="javascript:;" onclick="store(this)">房山区</a>
     <a href="javascript:;" onclick="store(this)">密云区</a>
     <a href="javascript:;" onclick="store(this)">延庆区 </a>
     <a href="javascript:;" onclick="dpre()">more <</a>
     </p>
     <div class="DCcontent" style="overflow:hidden;">
      {foreach $str as $key=>$value}
        <table style="height:200px;float:left;border:1px solid #999;">
          <tr><td><a href="{:url('index/shop/shop')}?{$value['s_id']}"><img src="{$value['s_pic']}" style=width:297px;height:200px;></a><td></tr>
          <tr><td style="font-size:16px;">{$value['s_name']}</td></tr>
          <tr>
            <td style="height:30px;">
              <p class="p2" style="font-size:14px;">
                 店铺评分：
              <img src="__IMG_PATH__/star-on.png">
              <img src="__IMG_PATH__/star-on.png">
               <img src="__IMG_PATH__/star-on.png">
               <img src="__IMG_PATH__/star-on.png">
               <img src="__IMG_PATH__/star-off.png">
             </p>
          </td>
         </tr>
         <tr><td style="font-size:14px;">商家地址:{$value['s_address']}</td></tr>
          <tr><td style="border:1px solid #999;font-size:14px;height:80px;">商家简介:{$value['s_info']}</td></tr>
          <tr></tr>
        </table>
      {/foreach}
     </div>
  </li>
  </ul>
 </div>
 </div>
 </article>
 <aside class="A-infor">
  <img src="__UPLOAD_PATH__/2014911.jpg">
  <div class="usercomment">
   <span>用户菜品点评</span>
   <ul>
    <li>
     <img src="__UPLOAD_PATH__/01.jpg">
     用户“DeathGhost”对[ 老李川菜馆 ]“酸辣土豆丝”评说：味道挺不错，送餐速度挺快...
    </li>
    <li>
     <img src="__UPLOAD_PATH__/02.jpg">
     用户“DeathGhost”对[ 魏家凉皮 ]“酸辣土豆丝”评说：味道挺不错，送餐速度挺快...
    </li>
   </ul>
  </div>
 </aside>
</section>
<!--End content-->
<script type="text/javascript">
    //展示超出的菜
    function dnext()
    {
      $('#dnext').css('display','none');
      $('#dpre').css('display','block');
    }
    //收起
    function dpre()
    {
      $('#dpre').css('display','none');
      $('#dnext').css('display','block');
    }
    //餐馆
    function store(obj)
    {
      var stor = $(obj).html();
      var con = '';
      var count = 1;
      $.post("{:url('index/index/areastore')}",{stor:stor},function(data){
        
          if (data.errcode == 1){
           $.each(data.info,function(i,obj){
               var url = "{:url('index/shop/shop')}?" + obj.s_id;
              con += '<table  style="height:200px;float:left;border:1px solid #999;">'
              con += '<tr><td><a href="'+ url +'"><img src="' + obj.s_pic + '" style=width:297px;height:200px;></a></td></tr>';
              con += '<tr><td style="font-size:16px;">' + obj.s_name + '</td></tr>';
             
              con += '<tr><td><p class="p2">' +
                       '店铺评分:' +
                       '<img src="__IMG_PATH__/star-on.png">' +
                       '<img src="__IMG_PATH__/star-on.png">' +
                       '<img src="__IMG_PATH__/star-on.png">' +
                       '<img src="__IMG_PATH__/star-on.png">' +
                       '<img src="__IMG_PATH__/star-off.png">' +
                       '</p></td></tr>' 
              con += '<tr><td style="font-size:14px;">商家地址:' + obj.s_address + '</td></tr>'
              con += '<tr><td style="border:1px solid #999;font-size:14px;height:80px;">商家简介:' + obj.s_info + '</td></tr>';
              con += '</table>'
              $(".DCcontent").html(con);
              })
              
            } else{
              con += '<table style="width:900px;height:200px;text-align:center;">';
              con += '<tr><td style="font-size:40px;">' + '本区暂没有任何店铺' + '</td></tr>';
              con += '</table>'
              $(".DCcontent").html(con);
            }
      },'json')

    }
</script>
