<link rel="stylesheet" type="text/css" href="__CSS_PATH__/nav.css">
<script type="text/javascript">
      $(function(){
        var _this1=null;
        $('.nav>li').hover(function(){
          _this1=$(this);
          _this1.find('.second-nav').show();
          var _this2=null;
          
          _this1.find('.second-nav').find('li').hover(function(){
            _this2=$(this);
            _this2.find('.third-nav').show();
            _this2.find('.third-nav').hover(function(){
              $(this).show();
            },function(){
              $(this).hide();
            });
          },function(){
            _this2.find('.third-nav').hide();
          });
        },function(){
          _this1.find('.second-nav').hide();
        });
      });
 </script>
<script type="text/javascript" src="__JS_PATH__/public.js"></script>
<script type="text/javascript" src="__JS_PATH__/jquery.js"></script>

<script type="text/javascript" src="__JS_PATH__/jqpublic.js"></script>
<!--Start content-->
<section class="Psection">
<section class="fslist_navtree">
  <ul class="select">
    <li class="select-list">
      <dl id="select1">
        <dt>一级分类：</dt>
        <dd class="select-all selected"><a href="javascript:">全部</a></dd>
                <!-- $k是它的b_id,  $v是b_name -->
                {foreach $res1 as $k1=>$v1}
                <dd><a href="javascript:" value="{$k1}" id="one" onclick="one(this)">{$v1}</a></dd>
                {/foreach}
                
      </dl>
    </li>
    <li class="select-list" style="display:none;">
      <dl id="select2">
        <dt>二级分类：</dt>
        <dd class="select-all selected"><a href="javascript:">全部</a></dd>
       {foreach $res2 as $k2=>$v2}
                <dd><a href="javascript:" value="{$k2}" id="two" onclick="one(this)">{$v2}</a></dd>
        {/foreach}
      </dl>
    </li>
    <li class="select-list" style="display:none;">
      <dl id="select3">
        <dt>三级分类：</dt>
        <dd class="select-all selected"><a href="javascript:">全部</a></dd>
        {foreach $res3 as $k3=>$v3}
                <dd><a href="javascript:" value="{$k3}" id="three" onclick="one(this)">{$v3}</a></dd>
        {/foreach}
      </dl>
    </li>
        <li class="select-list" style="display:none;">
      <dl id="select4">
        <dt>四级分类：</dt>
        <dd class="select-all selected"><a href="javascript:">全部</a></dd>
         {foreach $res4 as $k4=>$v4}
                <dd><a href="javascript:" value="{$k4}" id="one(this)">{$v4}</a></dd>
        {/foreach}
      </dl>
    </li>

    
    <li class="select-result">
      <dl>
       <dd class="select-no">已选择：</dd>
      </dl>
    </li>
  </ul>
 </section>

<section class="Fslmenu">
 <a href="{:url('index/index/list')}?id=" title="默认排序">
  <span>
  <span>默认排序</span>
  <span></span>
  </span>
 </a>
 <a href="{:url('index/index/list')}?id=1" title="评价">
  <span>
  <span>评价</span>
  <span class="s-up"></span>
  </span>
 </a>
 <a href="{:url('index/index/list')}?id=2" title="销量">
  <span>
  <span>销量</span>
  <span class="s-up"></span>
  </span>
 </a>
 <a href="{:url('index/index/list')}?id=3" title="发布时间排序">
  <span>
  <span>注册时间</span>
  <span class="s-up"></span>
  </span>
 </a>
</section>
<section class="Fsl">
 <ul>
{foreach $res as $key => $value}
  <li>

   <a href="{:url('shop/shop')}?id={$value['s_id']}"  title="{$value['s_name']}"><img src="{$value['s_pic']}"></a>
   <hgroup>
   <h3>{$value['s_name']}</h3>
   <h4></h4>
   </hgroup>
   <p>餐别：川湘菜</p>
   <p>地址：{$value['s_address']}</p>
   <p>人均：20~50元</p>
   <p>
    <span class="Score-l">
    <img src="__IMG_PATH__/star-on.png">
    <img src="__IMG_PATH__/star-on.png">
    <img src="__IMG_PATH__/star-on.png">
    <img src="__IMG_PATH__/star-on.png">
    <img src="__IMG_PATH__/star-off.png">
    <span class="Score-v">4.8</span>
    </span>
    <span class="DSBUTTON"><a href="{:url('index/shop/shop')}?id={$value['s_id']}" target="_blank" class="Fontfff">点外卖</a></span>
   </p>
  </li>
{/foreach}
 </ul>
 <aside>
  <div class="title">热门商家</div>
  <div class="C-list">
   <a href="{:url('shop/shop')}" target="_blank" title="店铺名称"><img src="__UPLOAD_PATH__/cc.jpg"></a>
   <p><a href="{:url('shop/shop')}" target="_blank">[大雁塔]店铺名称</a></p>
   <p>
   <span>人均：20~50元</span>
   <span style=" float:right">
    <img src="__IMG_PATH__/star-on.png">
    <img src="__IMG_PATH__/star-on.png">
    <img src="__IMG_PATH__/star-on.png">
    <img src="__IMG_PATH__/star-on.png">
    <img src="__IMG_PATH__/star-off.png">
    <span class="ALscore">4.8</span>
   </span>
   </p>
  </div>
  <div class="C-list">
   <a href="{:url('shop/shop')}" target="_blank" title="店铺名称"><img src="__UPLOAD_PATH__/cc.jpg"></a>
   <p><a href="{:url('shop/shop')}" target="_blank">[大雁塔]店铺名称</a></p>
   <p>
   <span>人均：20~50元</span>
   <span style=" float:right">
    <img src="__IMG_PATH__/star-on.png">
    <img src="__IMG_PATH__/star-on.png">
    <img src="__IMG_PATH__/star-on.png">
    <img src="__IMG_PATH__/star-on.png">
    <img src="__IMG_PATH__/star-off.png">
    <span class="ALscore">4.8</span>
   </span>
   </p>
  </div>
 </aside>
 <div class="TurnPage">
  <a href="#">
  <span class="Prev"><i></i>首页</span>
  </a>
  <a href="#"><span class="PNumber">1</span></a>
  <a href="#"><span class="PNumber">2</span></a>
  <a href="#">
  <span class="Next">最后一页<i></i></span>
  </a>
 </div>
</section>
</section>
<!--End content-->

<script>
  // var one = $('#one').attr('value');
  // alert(one);
  function one(obj)
  {
    // alert($(obj).attr('value'));
    var b_id = $(obj).attr('value');
    $.post("{:url('index/index/twofl')}", {b_id:b_id}, function(data){
      if (data) {
        // alert(data);
      } else {
        alert(data);
      }
    }, 'json');
  }
  function two(obj)
  {
    alert($(obj).attr('value'));
  }
  function three(obj)
  {
    alert($(obj).attr('value'));
  }
  function four(obj)
  {
    alert($(obj).attr('value'));
  }
</script>