

<title>会员列表 - 会员管理</title>


<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户中心 <span class="c-gray en">&gt;</span> 会员列表<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="mt-20">
				<table class="table table-border table-bordered table-hover table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="25"><input type="checkbox" name="" value=""></th>
							<th width="80">ID</th>
							<th width="80">用户名</th>
							<th width="60">性别</th>
							<th width="100">手机</th>
							<th width="120">邮箱</th>
							<th width="60">积分</th>
							<th width="140">注册时间</th>
							<th width="70">状态</th>
							<th width="150">上次登录时间</th>
						</tr>
					</thead>
					<tbody>
						{foreach($user as $key=>$value)}
						<tr class="text-c">
							<td><input type="checkbox" value="{$value['uid']}" name=""></td>
							<td>{$value['uid']}</td>
							<td><u style="cursor:pointer" class="text-primary" onclick="member_show('张三','member-show.html','10001','360','400')">{$value['username']}</u></td>
							<td>{if($value['sex']==1)}男{else}女{/if}</td>
							<td>{$value['phone']}</td>
							<td>{$value['email']}</td>
							<td class="text-l">{$value['u_score']}</td>
							<td><?php echo date('Y-m-d H:i:s',$value['regtime'])?></td>
							<td class="td-status"><span class="label label-success radius">
							<a style="text-decoration:none" onClick="member_stop(this,{$value['uid']})" href="javascript:;">{if($value['allowlogin']==0)}已启用{else}已停用{/if}</a>
							</span></td>
							<td class="td-manage">
								{if ($value['lasttime'] == '')}
									新用户
								{else}
									<?php echo date('Y-m-d H:i:s',$value['lasttime']);?>
								{/if}
							</td>
						</tr>
						{/foreach}
					</tbody>
				</table>
			</div>
		</article>
	</div>
</section>

<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
		]
	});
	$('.table-sort tbody').on( 'click', 'tr', function () {
		if ( $(this).hasClass('selected') ) {
			$(this).removeClass('selected');
		}
		else {
			table.$('tr.selected').removeClass('selected');
			$(this).addClass('selected');
		}
	});
});
/*用户-管理*/
function member_stop(obj,id)
{
	$.post("{:url('admin/member/userstop')}",{uid:id},function(data){
		if (data.errcode == 1) {
			$(obj).html(data.info);
			alert(data.info);
		}
	},'json')
}
</script>
