<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link href="__STATIC_PATH__/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="__CSS_PATH__/pintuer.css">
<link rel="stylesheet" href="__CSS_PATH__/sadmin.css">
<script src="__JS_PATH__/jquery.js"></script>
<script src="__JS_PATH__/pintuer.js"></script>
</head>
<body>

  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 订单管理</strong> <a href="" style="float:right; display:none;">添加字段</a></div>
    <div class="padding border-bottom">
    </div>
<form method="post" action="" id="listform">
    <table class="table table-hover text-center" style="width:100%;">
      <tr>
        <th width="100" style="text-align:left; padding-left:20px;">订单号</th>
        <th>菜品</th>
        <th>份数</th>
        <th>留言</th>
        <th>单价</th>
        <th>小计</th>
        <th width="10%">总价</th>
      </tr>
	{volist name="list" id="v"}
        <tr>
          <td style="text-align:left; padding-left:20px;">{$v['o_orderno']}</td>
          <td width="10%">{$v['m_name']}</td>
          <td>{$v['o_counts']}</td>
          <td>{$v['o_message']}</td>
          <td>{$v['oneprice']}</td>
          <td>{$v['manyprice']}</td>
          <td>{$v['allprice']}</td>
        </tr>
	{/volist}

    </table>
  </div>
</form>
  {if($list[0]['o_kuaidiname']=='')}
  <form action="{:url('sadmin/order/send')}" method="post">
  <input type="hidden" name="help" value="{$list[0]['o_orderno']}">
  快&nbsp;递：<input type="text" name="kuaidi" placeholder="快递">
  快递号：<input type="text" name="kaudino" placeholder="快递号">
  <input type="submit" value="发货"> 
  </form>
  {else}
  {/if}
</body>
</html>